header{
  background-color: rgb(153, 207, 219);
  color: white;
  padding: 20px;
}

.experience {
    background-color: rgb(192, 192, 192);
    margin: 100px;
    

}

.competences{

    background-color: rgb(192, 192, 192);
    margin: 100px;
    
}

.formation{
    background-color: rgb(192, 192, 192);
    margin: 100px;
    

}